* {
    font-family: 'Anton', sans-serif;
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}
   

img { 
    width:200px
}



table {
    margin: 5px 5px;
    text-align: center;
}

p.solid {
    border-style:solid;
}

h3.solid {
    border-style:solid;
    margin-right: 940px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: white;
    border-radius: 40%;
}

.img-table {
    width:60px
}

.img-menu {
    width:250px
}

.img-index {
    display:block; margin:10px; width:260px
}

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%;
}

.karticky {
    margin:15px;
}

.hh {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
    text-align: center;
}

.form-center {
    justify-content: center
}

.mission {
    background-color: black;
    color:white;
    text-align: center;
  }


  .text-s-pozadim {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .banner {
    height: 26rem;
    background: #223c88 url('image/less.jpg') center/cover no-repeat;
    color:white;
  }

  .banner2 {
    height: 26rem;
    background: #223c88 url('image/kvmesto.jpg') center/cover no-repeat;
    color:white;
  }

  .banner3 {
    height: 26rem;
    background: #223c88 url('image/písek-\ most.jpg') center/cover no-repeat;
    color:white;
  }

  .banner4 {
    height: 26rem;
    background: #223c88 url('image/mikulovmesto.jpg') center/cover no-repeat;
    color:white;
  }

.text-karticky {
    text-align: center;
}


.nadpis {
    text-align: center;
}

.map {
    float:center;
    margin-left: 110px;
    margin-bottom: 20px;
}


.img-lazne {
    border-radius: 20%;
    float:right;
    display: block;
    width: 150px;
}

.img-restaurace {
    margin:10px;
}

.telo {
    margin:20px;
}

.text-size-small {
    font-size: small;
}

.table-padding td{
    padding:20px;
}

#head {
    display: flex;
    width:100%;
    height:100px;
}

#logo img {
    height: 100px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    background: transparent;
    flex: 0 1 100%;
}

#menu .menuitem {
    margin: 25px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    height:50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}

#menu .menuitem a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

#menu .menuitem:hover a {
    color: black;
}
#divider {
    width: 100%;
    height: 1px;
    background-color: white;
}

#vary li {
    clear: both;
}

#vary li img {
    margin-bottom: 10px;
}